[flake8]
exclude = .git, .idea, .gitignore, __pycache__, env, README.md, requirements.txt, flake8_rapport, clubs.json, competitions.json, pyproject.toml, templates/
max-line-length = 119
format = html
htmldir = flake8_rapport